<h2>Médico</h2>
<p>
<strong>Nome</strong>
<%= @doctor.name %>
</p>

<p>
<strong>Email</strong>
<%= @doctor.email %>
</p>

<p>
<strong>CRM</strong>
<%= @doctor.crm %>
</p>

<p>
<strong>Especialidade</strong>
<%= @doctor.specialty.description %>
</p>
